@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home";
}

<h2 class="text-3xl font-bold mt-6">Welcome</h2>
<p class="mt-2 text-gray-700">Gift of the Givers foundation Disaster Alleviation.</p>

<img src="~/images/download (1).jpg"
     alt="Disaster Relief"
     class="max-w-full h-auto mt-6 rounded-lg shadow-lg relative z-0" />

